body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #fc4b42;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  border-style: none;
  color: white;
  font-family: Urbanist;
  font-size: 25px;
  font-weight: bold;
}

form {
  background-color: #cccccc;
  border-radius: 5px;
  margin: 30px auto;
  max-width: 70%;
  padding: 30px;
}

input[type=text] {
  border-color:#fc4b42;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

input[type=email] {
  border-color:#fc4b42;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

input[type=number] {
  border-color:#fc4b42;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 100%;
}

input[type=file] {
  font-size: 25px;
  margin: 10px 0;
  padding: 15px;
  width: 25%;
}
