body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  margin: 0.25rem 1rem;
}

h2 {
  font-size: 2.5rem;
  margin: 0.25rem 1rem;
}

h3 {
  font-size: 2rem;
  margin: 0.25rem 1rem;
}

h4 {
  font-size: 2rem;
  text-align: center;
}

ol {
  margin: 0.25rem 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #bf1004;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  border-style: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

li {
  margin-top: 0.25rem;
  font-size: 1rem;
}

form {
  margin: 2rem auto;
  max-width: 70%;
  padding: 2rem;
}

input[type=text] {
  border-color: #bf1004;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 1.5rem;
  margin: 0.75rem 0;
  padding: 1rem;
  width: 100%;
}

input[type=email] {
  border-color:#bf1004;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 1.5rem;
  margin: 0.75rem 0;
  padding: 1rem;
  width: 100%;
}

input[type=number] {
  border-color:#bf1004;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 1.5rem;
  margin: 0.75rem 0;
  padding: 1rem;
  width: 100%;
}

input[type=file] {
  font-size: 25px;
  margin: 0.25px 0;
  padding: 1rem;
  width: 25%;
}

input[type=submit] {
  font-size: 1.5rem;
  margin: 0.75rem 0;
  padding: 1rem;
  width: 20%;
  background-color: #bf1004;
  border-color: #bf1004;
  color: white;
}

textarea {
  border-color:#bf1004;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  font-size: 25px;
  height: 300px;
  margin: 10px 0;
  padding: 15px;
  resize: none;
  width: 100%;
}

@media screen and (max-width: 36rem) {
  ul li a {
    font size: 1rem;
  }
}
